@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  width: 100%;
  height: 100%;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* 커스텀 스크롤바 */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #3a3a3a;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1a1a1a;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #0a0a0a;
}

.swiper-scrollbar {
  height: 0.6em !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.5em !important;
  color: rgba(0, 0, 0, 0.525) !important;
}

.background {
  background: linear-gradient(45deg, rgb(29, 29, 123), rgb(96, 96, 86));
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
}

nav {
  width: 20%;
}

@media (max-width: 930px) {
  section {
    flex-direction: column;
  }
}
